################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/.gitignore

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
